header {
    position: relative;
    height: 300px; 
    background-image: url('neom-LiDZooBvzt0-unsplash.jpg'); 
    background-size: cover;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: cover;
  }
  .header-text {
    height: 100px;
    width: 280px;
    border: 2px solid white;
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    margin-top: 80px;
  }
 
  .section {
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  .section img {
    width: 600px; 
    height: 400px;
    display: block;
    margin-bottom: 10px;
    
  }
  
  #options{
    height: 100px;
    width:600 ;
    background-color: rgb(222, 198, 170);
    display: flex;
    flex-direction: column;
    word-spacing: 300px;
    margin-top: 90px;
  }
  #options{
    background-color: bisque;
    width: 100%;
    padding-top: 5px;
    margin-top: 100px;
  }
  a{
    text-decoration: none;
    color: rgb(81, 48, 17);
  }
  *{
    padding: 0;
    margin: 0;
  }
  nav{
    padding-top: 10px;
  }